/* cyrillic-ext */
@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ps2.woff2") format("woff2");
  unicode-range:
    U+0460-052F,
    U+1C80-1C88,
    U+20B4,
    U+2DE0-2DFF,
    U+A640-A69F,
    U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ps2cyr.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ps2greek.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ps2latinext.woff2") format("woff2");
  unicode-range:
    U+0100-024F,
    U+0259,
    U+1E00-1EFF,
    U+2020,
    U+20A0-20AB,
    U+20AD-20CF,
    U+2113,
    U+2C60-2C7F,
    U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ps2latin.woff2") format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

:root {
  --top-offset: 125px;
}

body {
  font-family:
    "Press Start 2P",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e8e6e3;
  background-color: #212529;
  background-image:
    linear-gradient(hsla(0, 0%, 100%, 0.08) 2px, transparent 2px),
    linear-gradient(90deg, hsla(180, 100%, 55%, 0.08) 2px, transparent 2px),
    linear-gradient(hsla(0, 0%, 100%, 0.08) 1px, transparent 1px),
    linear-gradient(90deg, hsla(0, 0%, 100%, 0.08) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  padding: 1.5rem;
}

h1,
h2,
h3 {
  scroll-margin-top: calc(72px + 2rem + var(--top-offset));
}

.header {
  border: 2px solid gray;
  border-bottom: 4px solid black;
  z-index: 1;

  @media screen and (min-width: 768px) {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  background-color: #3e464e;

  .description {
    text-align: end;
  }

  .inner {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
      max-width: 768px;
    }

    margin: 0 auto;
    padding-top: 1rem;
    transition: all 0.2s ease;
  }

  .nav-brand {
    margin-right: auto;
  }
}

main {
  @media screen and (min-width: 768px) {
    margin: var(--top-offset) auto 1rem;
    max-width: 55%; // Sets the width of basically all the content. Important property.
  }
}

h1 {
  font-size: 1.6rem;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.3rem;

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.topic {
  border: 4px solid black;
}

.topic > h2 {
  font-size: 1.8rem;
}

.share {
  display: flex;
  gap: 1rem;
}

main > section {
  background-color: #212529;
  padding: 1rem;
  margin-top: 2rem;
}

.footer {
  padding: 1.5rem;
  margin: 2rem 0;
  text-align: center;
}

// We need to override this because we are in dark mode and nes doesn't support listing for that apparently.
.nes-list.is-circle li::before {
  color: white;
}
.nes-list.is-disc li::before {
  color: white;
}

.active{
  transition: 0.3s linear;
  display: flex;
  justify-content:stretch;
  align-items: center;
  /* padding: 0 7%; */
}
.hidden{
  top: -25%;
  transition: 0.3s linear;
}